.categorias-container {
    width: 10%; /* Ajusta el ancho según tus necesidades */
    height: 10%; /* Opcional: ajusta la altura según tus necesidades */
    background-color: #f0f0f0; /* Color de fondo */
    
  }
  
  .menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .menu li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
  }
  
  .menu li button {
    margin-right: 5px; /* Espacio entre el botón y el enlace */
  }
  
  .menu li a {
    text-decoration: none;
    color: #333; /* Color del texto */
  }
  