.search{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input{
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 10px 0px 0px 10px;
}


#searchButton{
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: #FF99D6;

}

#searchButton:hover{
  cursor: pointer;
  background-color: #ed62fa;

}

#searchButton img{
  height: 90%;
}
